*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #ff6900;
    padding: 10px 0;
}

.container-header{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list{
    flex-basis: 25%;
}

header ul{
    display: flex;
}

ul li{
    list-style: none;
    margin-right: 7px;
}

a{
    text-decoration: none;
    color: white;
}

.header-logo{
    flex-basis: 50%;
    text-align: center;
}

.img-logo{
    width: 100px;
}

.header-link{
    flex-basis: 25%;
    text-align: end;
}